body{
    font-family: arial;
    
    
}

#Logo {
    width: 272px;
    height: 154px;
    float: left;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

li {
    float: right;
}

li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: grey;
}

main {
    border-top: 20px solid black;
    background-image: url(../images/Background_image_1.JPG);
    height: 600px;
    width: 99%;
    background-size: cover;
    float: left;
}

aside {
    background-color: rgb(255, 255, 255, 0.8); /*Learned How to do opacity from youtube*/ 
    height: 600px;
    width: 280px;
    float: right;
    padding: 20px;

}

#Link{
    list-style-type: none;
}

#link li{
    display: inline;
}

#Link a{
    float: inherit;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

footer {
    text-align: center;
    clear: both;
    padding-top: 5px;
}

#Top List {
    margin-top: 100px;
}
